
<div>
    <form action="" method="post" enctype="multipart/form-data">
        <span style="font-weight:bold;">Select Files:</span>
        <input type="file" name="postedFiles" multiple="multiple" />
        <hr />
        <input type="submit" value="Upload" name="action:Upload" />
        <br />
    </form>
</div>

